openapi: 3.2.0
info:
  title: Zubale API Documentation for External Notification Handler…
  version: v3
  description: Overview.
  contact:
    name: Zubale
    url: https://developers.zubale.com/
  x-source: Derived from the public Zubale Postman collection (developers.zubale.com)
  x-apievangelist:
    generated: '2026-07-21'
    method: generated
    source: postman/zubale-collection.json
servers:
- url: https://api.zubale.com
  description: Production
- url: https://api-cencosandbox.zubale.com
  description: Sandbox host published in the collection
security:
- bearerAuth: []
tags:
- name: API Documentation for External Notification Handler
paths:
  /external-notification-handler/api/v1/events:
    post:
      operationId: sendEvent
      summary: Send Event
      tags:
      - API Documentation for External Notification Handler
      description: 'Send Event This endpoint allows clients to notify their consumers via WhatsApp about order status updates. Allowed Events The following values are allowed for the event field: order_created picking_started picked_out enroute_to_dropoff at_dropoff delivered If you require additional custom events, please contact us to discuss adding them to the system. Note: The required parameters may vary depending on the event type. Each event corresponds to specific message templates and required parameters. Ensure that the request includes the necessary fields for the intended notification. Field Details Field Data Type Mandatory Description Format event String Yes Type of event (e.g., order_created ). Text retailer String Yes Retailer identifier. Text target String Yes Target contact (e.g., phone number). E.164 format orderReference String Yes Unique order reference. Alphanumeric data Object Yes Additional order details. JSON Object supplier.identifier String No Supplier unique identifier. Text supplier.name String No Supplier name. Text countryCode String No Country code of the order. ISO 3166-1 Alpha-2 brandIdentifier String No Identifier of the brand. Alphanumeric storeIdentifier String No'
      requestBody:
        content:
          application/json:
            example:
              retailer: development
              supplier:
                identifier: '22'
                name: supply
              event: order_created
              target: '+50241512151'
              orderReference: v10000-23
              countryCode: MX
              brandIdentifier: '123'
              storeIdentifier: '456'
              data:
                customerName: Wesley López
                deliveryDate: '2025-02-15'
                slotStart: '13:00'
                slotEnd: '15:00'
                brandName: Zubale
                plateNumber: P123ABC
                shopperName: Juan Perez
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token from POST /oauth2/token, sent as Authorization: Bearer <token>.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (client_id:client_secret) used only against POST /oauth2/token.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.zubale.com/oauth2/token
          scopes: {}
