openapi: 3.2.0
info:
  title: 'Zubale Webhook: Payload Structure for Order Notification API'
  version: v3
  description: Overview.
  contact:
    name: Zubale
    url: https://developers.zubale.com/
  x-source: Derived from the public Zubale Postman collection (developers.zubale.com)
  x-apievangelist:
    generated: '2026-07-21'
    method: generated
    source: postman/zubale-collection.json
servers:
- url: https://api.zubale.com
  description: Production
- url: https://api-cencosandbox.zubale.com
  description: Sandbox host published in the collection
security:
- bearerAuth: []
tags:
- name: 'Webhook: Payload Structure for Order Notification'
paths:
  /webhook:
    post:
      operationId: webhookConfiguration
      summary: Webhook Configuration
      tags:
      - 'Webhook: Payload Structure for Order Notification'
      description: Configuration for setting up the webhook. The client should point their webhook to the provided URL with the appropriate method and headers.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token from POST /oauth2/token, sent as Authorization: Bearer <token>.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (client_id:client_secret) used only against POST /oauth2/token.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.zubale.com/oauth2/token
          scopes: {}
