openapi: 3.0.3
info:
  title: Zubale API Documentation for External Notification Handler Delivery API API
  version: v3
  description: 'Overview. This document is a developer’s guide and provides the necessary information to integrate your websites and mobile apps with our Zubale API endpoints. In this document some of our API endpoints are discussed, giving their business context and some examples on how to use specific features provided by the endpoints. Basic prior knowledge on JSON, HTTPS and an understanding of software programming is assumed. Integration It''s the process to unite with your service automatically in order to provide a connection between your services and Zubale''s system to create tasks and update its statuses. It is important to note that this API is serving different customers, thus modifications to it are not feasible. If you have special requirements or needs, please talk to your Sales Account Manager to explore a custom integration. How to start with Zubale? https://en.zubale.com/ Terminology Customer: This is the company that integrates with us Client: This is the person who make an order Zubalero: The person who runs Picking and deliveries Response The Zubale API uses HTTP status codes to indicate the status of the requests. This includes successful and error responses. Success Response Codes HTTP Status Code Description 200 Request successful. 200 User created. Error Response Codes HTTP Status Code Description 500 Internal server error. 409 Format not recognized. 409 Encoding format not recognized. 404 Content not found 401 Unauthorized/Invalid token 400 Bad request.'
  contact:
    name: Zubale
    url: https://developers.zubale.com/
  x-source: Derived from the public Zubale Postman collection (developers.zubale.com)
  x-apievangelist:
    generated: '2026-07-21'
    method: generated
    source: postman/zubale-collection.json
servers:
- url: https://api.zubale.com
  description: Production
- url: https://api-cencosandbox.zubale.com
  description: Sandbox host published in the collection
security:
- bearerAuth: []
tags:
- name: Delivery API
paths:
  /it/api/v1/{brand_name}/pnp_delivery/jobs:
    post:
      operationId: createDeliveryOrder
      summary: Create Delivery Order
      tags:
      - Delivery API
      description: 'Zubale Integration process diagram Description At this endpoint the client will post the order with all the required information. Here you could find the attributes necessary, the structure and values to perform the process optimally. The format is JSON. Payload request structure: Feed Description Datatype Required Examples Notes brandId Given identifier for each company integrated with Zubale String True “florida-store”, ”1021” Maximum 256 characters comment General Comments String False “generic” Maximum 256 characters contact_info.address Full address of customer''s drop off location.See format address. String True contactInfo.comments General Comments String False “generic” Maximum 256 characters contactInfo.name Full name of client String True “Pedro Perez” Maximum 256 characters contactInfo.phone_number Phone number of client. String True “+50245549959” Struct: + CC NDC SN Max 15 digits CC: Country code (1-3 Digits) NDC: National destination code (Area code) if exists SN: Suscriber number contactInfo.zip_code Zip Code of client. String True “Brazil: 01232-010” “Brazil: 01232-010” dropOffLocation.latitude Latitude for the delivery final location. Number True 19.755164 Decimal d'
      parameters:
      - name: brand_name
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Successful response
  /integration/notify-status:
    post:
      operationId: notifyStatusChangeCustomerSide
      summary: Notify Status Change (Customer side)
      tags:
      - Delivery API
      description: 'Notify Status Change (Customer side) We can inform you about changes in the order status. You need to provide an endpoint to which we can send the below notifications. The optional status will depend on the sales process that you cary out. The following is a list of the statuses that we can notify: Delivery Statuses Status Description Default / Optional TASK_SCHEDULED Indicates the first state when the task was scheduled Indicates when a return occurs and the task is re-queued and it is ready to be taken or cancelled. DEFAULT TASK_ASSIGNED Indicates the moment when the zubalero takes the order. DEFAULT PICKED_OUT Indicates the moment when the zubalero starts the delivery process and He already has the order DEFAULT ENROUTE_TO_DROPOFF Indicates the moment when the zubalero navigates the map for the customer''s location DEFAULT AT_DROPOFF Indicates the moment when the zubalero arrives at the address and proceeds to call then fill in the data and the client''s signature. DEFAULT DELIVERED Indicates when the delivery is complete. DEFAULT PENDING_RETURN Indicates the moment when the zubalero finish delivery and must come back to the store OPTIONAL ENROUTE_TO_RETURN Indicates the moment wh'
      security: []
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Successful response
  /orders/api/pnp_delivery/jobs/sync:
    post:
      operationId: createDeliveryOrder2
      summary: Create Delivery Order
      tags:
      - Delivery API
      deprecated: true
      description: 'Security scheme type BEARER TOKEN Staging {{BASE_URL}}/api/pnp_delivery/jobs Production {{BASE_URL}}/api/pnp_delivery/jobs At this endpoint the client will post the order with all the required information. Here you could find the attributes necessary, the structure and values to perform the process optimally. The format is JSON. Description Payload request structure: Feed Description Datatype Required Examples Notes brand_ID Given identifier for each company integrated with Zubale String True “florida-store”, ”1021” Maximum 256 characters comment General Comments String False “generic” Maximum 256 characters contact_info.address Full address of customer''s drop off location.See format address. String True contactInfo.comments General Comments String False “generic” Maximum 256 characters contactInfo.name Full name of client String True “Pedro Perez” Maximum 256 characters contactInfo.phone_number Phone number of client. String True “+50245549959” Struct: + CC NDC SN Max 15 digits CC: Country code (1-3 Digits) NDC: National destination code (Area code) if exists SN: Suscriber number contactInfo.zip_code Zip Code of client. String True “Brazil: 01232-010” “Brazil: 01232-010” dropOffLo'
      security:
      - bearerAuth: []
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token from POST /oauth2/token, sent as Authorization: Bearer <token>.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (client_id:client_secret) used only against POST /oauth2/token.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.zubale.com/oauth2/token
          scopes: {}
