openapi: 3.2.0
info:
  title: Zubale External outbound API
  version: v3
  description: Overview.
  contact:
    name: Zubale
    url: https://developers.zubale.com/
  x-source: Derived from the public Zubale Postman collection (developers.zubale.com)
  x-apievangelist:
    generated: '2026-07-21'
    method: generated
    source: postman/zubale-collection.json
servers:
- url: https://api.zubale.com
  description: Production
- url: https://api-cencosandbox.zubale.com
  description: Sandbox host published in the collection
security:
- bearerAuth: []
tags:
- name: External outbound
paths:
  /hermes/integrations/{iINTEGRATION_NAME}/conversations/messages:
    post:
      operationId: multipleProductCampaignCatalog
      summary: Multiple product campaign - Catalog
      tags:
      - External outbound
      description: 'Send multiple product items as a WhatsApp catalog campaign message. Required headers: Content-Type: application/json Authorization: Bearer {{jwtToken}} Use to showcase multiple products in a single outbound campaign. Request body JSON structure: target (string, required): Recipient phone number, including country code. templateName (string, required): Name of the WhatsApp campaign/template for multiple products. languageCode (string, required): Language/locale code for the template (for example, es , en_US ). flow (string, optional): Static flow identifier provided by Zubale. payload (object, required): Template variables and catalog configuration. body (array, required): Template components for the message body and CTA button. Discount text component: parameters[].text contains values such as discount percentage. Catalog button component ( type: button , sub_type: mpm ): parameters[].action.sections[].title is the section title shown in the catalog. product_items[] is an array of catalog product entries. Each item has product_retailer_id (string, required): Identifier of the product in your catalog. metadata (object, required): Campaign and routing metadata. node (string, optional'
      parameters:
      - name: iINTEGRATION_NAME
        in: path
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      requestBody:
        content:
          application/json:
            example:
              target: '+57301000000'
              templateName: example_multiple_products_template
              languageCode: es
              payload:
                body:
                - type: body
                  parameters:
                  - type: text
                    text: 30%
                - type: button
                  sub_type: mpm
                  index: 0
                  parameters:
                  - type: action
                    action:
                      sections:
                      - title: Productos encontrados
                        product_items:
                        - product_retailer_id: '22222'
                        - product_retailer_id: CVC
                        - product_retailer_id: ' 33333'
              metadata:
                promotionCode: PROMOTION000
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token from POST /oauth2/token, sent as Authorization: Bearer <token>.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (client_id:client_secret) used only against POST /oauth2/token.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.zubale.com/oauth2/token
          scopes: {}
