openapi: 3.0.3
info:
  title: Zubale API Documentation for External Notification Handler Live Tracking For Cencosud API
  version: v3
  description: 'Overview. This document is a developer’s guide and provides the necessary information to integrate your websites and mobile apps with our Zubale API endpoints. In this document some of our API endpoints are discussed, giving their business context and some examples on how to use specific features provided by the endpoints. Basic prior knowledge on JSON, HTTPS and an understanding of software programming is assumed. Integration It''s the process to unite with your service automatically in order to provide a connection between your services and Zubale''s system to create tasks and update its statuses. It is important to note that this API is serving different customers, thus modifications to it are not feasible. If you have special requirements or needs, please talk to your Sales Account Manager to explore a custom integration. How to start with Zubale? https://en.zubale.com/ Terminology Customer: This is the company that integrates with us Client: This is the person who make an order Zubalero: The person who runs Picking and deliveries Response The Zubale API uses HTTP status codes to indicate the status of the requests. This includes successful and error responses. Success Response Codes HTTP Status Code Description 200 Request successful. 200 User created. Error Response Codes HTTP Status Code Description 500 Internal server error. 409 Format not recognized. 409 Encoding format not recognized. 404 Content not found 401 Unauthorized/Invalid token 400 Bad request.'
  contact:
    name: Zubale
    url: https://developers.zubale.com/
  x-source: Derived from the public Zubale Postman collection (developers.zubale.com)
  x-apievangelist:
    generated: '2026-07-21'
    method: generated
    source: postman/zubale-collection.json
servers:
- url: https://api.zubale.com
  description: Production
- url: https://api-cencosandbox.zubale.com
  description: Sandbox host published in the collection
security:
- bearerAuth: []
tags:
- name: Live Tracking For Cencosud
paths:
  /oauth2/token:
    post:
      operationId: createCredentialToken
      summary: 1. Create Credential Token
      tags:
      - Live Tracking For Cencosud
      requestBody:
        content:
          application/json:
            example:
              client_id: '{{CLIENT_ID}}'
              client_secret: '{{CLIENT_SECRET}}'
              grant_type: client_credentials
      responses:
        '200':
          description: Successful response
  /smart-hub/api/cencosud/order:
    post:
      operationId: createOrder
      summary: 2. Create Order
      tags:
      - Live Tracking For Cencosud
      security: []
      requestBody:
        content:
          application/json:
            example:
              metadata:
                orders:
                - emissionDate: '2023-02-03T02:23:51.000Z'
                  sort: 1
                  status: OPEN
                  inProgressStatus: PICKED_OUT
                  brand:
                    name: JUMBO/METRO/SPID
                    id: 226
                  store:
                    name: Jumbo Hayuelos
                    number: swl15
                    coords:
                      latitude: 4.592186581553626
                      longitude: -74.13686065057105
                  externalOrderId: JMB-v1677506-01
                  slot:
                    pickupWindowStartTime: '2023-02-02T13:00:00.000Z'
                    pickupWindowEndTime: '2023-02-02T16:30:00.000Z'
                    deliveryWindowStartTime: '2023-02-02T17:00:00.000Z'
                    deliveryWindowEndTime: '2023-02-02T20:00:59.000Z'
                  client:
                    name: Alejandra Recinos
                    phoneNumber: '+50250000001'
                    address:
                      fullAddress: ''
                      coords:
                        latitude: 4.592186581553626
                        longitude: -74.13686065057105
                    email: alejandra.recinos@gmail.com
              timestamp: '2023-02-03T02:23:51.000Z'
              driver:
                name: Gabriela Recinos
                phoneNumber: '+50250000002'
                userId: null
                plateNumber: GT-1234
                carModel: Toyota
                carModelYear: '2015'
                photo: public_URL
      responses:
        '200':
          description: Successful response
  /smart-hub/api/cencosud/orders/states:
    put:
      operationId: updateStatusOfTheOrder
      summary: 3. Update Status of the order
      tags:
      - Live Tracking For Cencosud
      requestBody:
        content:
          application/json:
            example:
              metadata:
                orders:
                - status: OPEN
                  inProgressStatus: ENROUTE_TO_DROPOFF
                  externalOrderId: JMB-v1677506-01
              timestamp: '2023-02-03T02:23:51.000Z'
      responses:
        '200':
          description: Successful response
  /smart-hub/api/cencosud/coordinates:
    post:
      operationId: sendCoordinates
      summary: 4. Send Coordinates
      tags:
      - Live Tracking For Cencosud
      requestBody:
        content:
          application/json:
            example:
              coordinates:
                latitude: 4.592186581553626
                longitude: -74.13686065057105
              externalOrderId: JMB-v1677506-01
              driverPhoneNumber: '+50250000002'
              timestamp: '2023-02-03T02:23:51.000Z'
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token from POST /oauth2/token, sent as Authorization: Bearer <token>.'
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic (client_id:client_secret) used only against POST /oauth2/token.
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.zubale.com/oauth2/token
          scopes: {}
